@red: #d71c14;
@blue: #092357;
@body-font: "adelle-1", "adelle-2", Georgia, serif;
@heading-font: "bebas-neue-1", "bebas-neue-2", "Helvetica Neue Condensed Bold", Trebuchet, sans-serif;

body {
	background: #eee;
	font-size: 62.5%; /* 10px/16px */
	font-family: @body-font, "Helvetica Neue", Helvetica, sans-serif;
}

img {
	max-width: 100%;
}
p {
	font-size: 1.8em;
	line-height: 1.66666667;
	margin-bottom: 1em;
}
a {
	border-bottom: 1px solid @red;
	color: @red;
	text-decoration: none;

	-webkit-transition: border 0.25s, color 0.25s;
	        transition: border 0.25s, color 0.25s;
}
a:hover {
	border-color: #0c3469;
	color: #0c3469;
}

.list li,
.list--plain li {
	font-size: 1.8em;
	line-height: 1.66666667;
}
.heading-list li {
	//color: @red;
	font-family: @heading-font;
	font-size: 2.4em;
	line-height: 1.25em;
	margin: 0;
}
.heading-list a {
	border: 0;
}

dl {
	font-size: 1.8em;
	line-height: 2.4em;
}
dt {
	clear: both;
	float: left;
	font-weight: bold;
	width: 48%;
}
dd {
	float: right;
	width: 48%;
}
dl.wide {
	dt {
		width: 38%;
	}
	dd {
		width: 58%;
	}
}


/* * * * * * * * * * * * * * * * * * * * *
 * H E A D E R * H E A D E R * H E A D E *  
 * * * * * * * * * * * * * * * * * * * * */
header .page-container {
	padding-bottom: 60px;
	padding-top: 40px
}
.home-link {
	text-align: center;
}
.logo-subtitle {
	color: #000;
	font-size: 6.4em;
	font-family: @heading-font;
}

.page-container {
	background: #fff;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	margin: 0 auto;
	max-width: 1400px;
	padding-left: 80px;
	padding-right: 80px;
	width: 80%;
}


/* * * * * * * * * * * * * * * * * * * * *
 * N A V * N A V * N A V * N A V * N A V *
 * * * * * * * * * * * * * * * * * * * * */
.navigation {
	background: @red
}
.navigation ul {
	//margin: 0 0 40px;
}
.navigation ul {
	text-align: center;
}
.navigation li {
	display: inline-block;
}
.navigation a {
	border: 0;
	border-bottom: 0.3em solid @red;
	border-top: 0.3em solid @red;
	color: #fff;
	display: block;
	font-family: @heading-font;
	font-size: 2.6em;
	line-height: 2em;
	padding: 0 0.5em;
	text-decoration: none;

	&:hover {
		color: #000;
	}
}
.navigation li.current_page_item a {
	border-bottom-color: #fff;

	&:hover {
		color: #fff;
		cursor: default;
	}
}
.navigation li:first-child a {
	margin-left: 0;
}
.after-nav {
	border: 0;
	border-top: 2px solid #000;
	display: block;
	margin: 0 auto;
	width: 26%;
}

/*--------------------------------------
 * Announcement         
 *--------------------------------------*/
.announcement {
	border: 2px solid @red;
	margin: 40px auto;
	padding: 2em;
	//width: 40%;
}
.announcement h3 {
	color: @red;
	font-size: 1.8em;
	font-weight: bold;
	margin-bottom: 1em;
}
.announcement p:last-of-type {
	margin-bottom: 0;
}
.paramount {
	font-size: 2.4em;
	line-height: 1.75;
	//margin: 0 0 1.75em;
	//width: 50%;
}

/* * * * * * * * * * * * * * * * * * * * *
 * C O N T E N T * C O N T E N T * C O N *
 * * * * * * * * * * * * * * * * * * * * */
.content .page-container {
	padding-top: 60px;
}
.content article {
	padding-bottom: 60px;
}
.entry-title {
	color: @red;
	font-family: @heading-font;
	font-size: 4.8em;
	text-align: center;
}
.main-heading {
	color: @red;
	font-family: @heading-font;
	font-size: 4em;
	line-height: 1em;
	margin-top: 1.5em;
	margin-bottom: 1em;

	a {
		border-bottom: 2px solid @red;
		text-decoration: none;

		&:hover {
			border-bottom-color: #000;
		}
	}
}
.main-heading--alternate {
	color: #000;
}
.main-heading--small {
	color: #000;
	font-size: 2.4em;
	line-height: 1.66666667em;
	margin-top: 2.5em;
}
.main-heading--medium {
	color: #000;
	font-size: 3em;
	line-height: 1.33333333em;
	margin-top: 2em;
}
.main-heading--flat-bottom {
	margin-bottom: 0;
}
.main-heading--flat-top {
	margin-top: 0;
}
.sub-heading {
	font-size: 2em;
	line-height: 1.5;
	margin: 2em 0 1em;
}
.sub-heading a {
	border: 0;
}

.prominent {
	font-size: 2.8em;
}

/* * * * * * * * * * * * * * * * * * * * *
 * F O R M * F O R M * F O R M * F O R M *
 * * * * * * * * * * * * * * * * * * * * */
fieldset {
	background: #eee;
	border-radius: 1em;
	margin-bottom: 3.6em;
	padding: 1em 1em 0;
}
legend {
	font-size: 1.8em;
	font-family: @heading-font;
}
label {
	display: block;
	float: left;
	min-width: 200px;
	width: 20%;
}

.label--block label,
.block-label label {
	float: none;
	width: 100%;
}
.input--block input,
.input--block textarea {
	box-sizing: border-box;
	width: 100%;
}
.input--narrow input {
	width: 80px;
}
.input--multi-line {
	display: block;
	float: left;
}
form > p {
	margin-bottom: 1em;
}
form > p:after {
	.self-clear();
}
form > p > span {
	display: block;
	float: left;
}
input {
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-radius: 2px;
	display: inline-block;
	height: 30px;
	padding: 6px;
}
input[type="submit"] {
	background-color: @red;
	border: 0;
	border-radius: 6px;
	color: #fff;
	font-size: 1em;
	height: auto;
	padding: 8px 12px;

	&:hover,
	&:focus {
		background-color: #000;
		cursor: pointer;
	}
}
// Validation
.screen-reader-response {
	background-color: #eee;
	border-radius: 10px;
	color: #000;
	font-size: 1.8em;
	line-height: 1.5em;
	margin-bottom: 1em;
	padding: 8px;
	text-align: center;

	ul {
		display: none;
	}
}
.screen-reader-response:empty {
	display: none;
}
.screen-reader-response {
	background-color: @red;
	color: #fff;
}

[class*="not-valid"] {
	border-color: @red;
}
[class*="response-output"] {
	font-size: 1.8em;
	line-height: 1.5em;

	&[class*="validation-errors"] {
		color: @red;
	}
}

.half-left {
	float: left;
	width: 70%;
}
.half-right {
	float: left;
	margin-left: 8px;
}
.helptext {
	font-style: italic;
	font-size: (14/18) + 0em;
}
span[class*="not-valid-tip"] {
	display: none;
}

/* * * * * * * * * * * * * * * * * * * * *
 * F O O T E R * F O O T E R * F O O T E * *
 * * * * * * * * * * * * * * * * * * * * */
footer,
footer .page-container {
	background: @blue;
}
footer .page-container {
	border: 0;
	padding: 80px;
}
footer p {
	color: #fff;
	margin: 0;
}

/* Footer Links */
footer .links a {
	border: 0;
	float: left;
	width: 14.2857143%; 
}
footer .links img {
	display: block;
	max-height: 72px;
	margin: 0 auto;
}
footer .links img.fifa {
	border: 8px solid #fff;
	border-radius: 2px;
	margin-top: 16px;
	margin-bottom: 17px;
}

@media screen and (max-width: 1350px) {
	.page-container {
		width: 80%;
	}
}
@media screen and (max-width: 940px) {
	.page-container {
		padding: 0 4%;
		width: 88%;
	}
	.navigation ul {
		text-align: left;
	}
	.navigation li {
		display: block;
	}
	.navigation li a {
		margin-left: 0;
	}
	.after-nav {
		width: 60%;
	}
	.announcement {
		width: 80%;
	}
	.col-* {
		float: none;
		width: 100%;
	}
	footer {
		margin-top: 40px;
	}
}

.group:after {
	.self-clear();
}
.self-clear () {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
